<body>
  <div id="DIV_1">
    <form id="FORM_2">
      <h2 id="H2_3">
        Please sign in
      </h2>
      <input type="email" placeholder="Email address" id="INPUT_4" />
      <input type="password" placeholder="Password" id="INPUT_5" />
      <div id="DIV_6">

        <label id="LABEL_7">
          <input type="checkbox" value="remember-me" id="INPUT_8" /> Remember me
        </label>
      </div>
      <button type="submit" id="BUTTON_9">
        Sign in
      </button>
    </form>
  </div>
</body>